Options -Indexes
RewriteEngine On
RewriteBase /

RewriteRule ^admin/status\.json$ admin/status.json [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
